.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/home-img.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 60rem;
}

.home .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: #141414;
}

.home .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: rgb(54, 54, 54);
}

.about .row {
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #141414;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box h3 {
    color: #141414;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: #141414;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover {
    background: #141414;
}

.menu .box-container .box:hover>* {
    color: var(--black);
}

.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.products .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
}

.products .box-container .box .icons a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: #141414;
    margin: .3rem;
}

.white {
    color: #ccc;
}

.products .box-container .box .icons a:hover {
    background: var(--main-color);
}

.products .box-container .box .image {
    padding: 2.5rem 0;
}

.products .box-container .box .image img {
    height: 25rem;
}

.products .box-container .box .content h3 {
    color: #141414;
    font-size: 2.5rem;
}

.products .box-container .box .content .stars {
    padding: 1.5rem;
}

.products .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: var(--main-color);
}

.products .box-container .box .content .price {
    color: #141414;
    font-size: 2.5rem;
}

.products .box-container .box .content .price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: rgb(48, 48, 48);
    padding: 2rem 0;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #141414;
}

.review .box-container .box .stars i {
    font-size: 1.5rem;
    color: var(--main-color);
}

.contact .row {
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map {
    flex: 1 1 15rem;
    width: 80%;
    object-fit: cover;
}

.list {
    margin-top: -30px
}

.list li {
    width: 100%;
    overflow: hidden;
    vertical-align: top;
    line-height: 1.714em;
    padding-top: 40px
}

.list li img {
    float: left;
    margin: -10px 20px 0 0
}

.list li a {
    text-decoration: none
}

.list li a:hover {
    color: #d72a18
}

.bestTopics {
    flex: 0.7;
    text-align: left;
}

.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #141414;
}

.contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}

.inputBox a {
    color: #141414;
}

.inputBox a:hover {}

.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box {
    border: var(--border);
}

.blogs .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.blogs .box-container .box .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img {
    transform: scale(1.2);
}

.blogs .box-container .box .content {
    padding: 2rem;
}

.blogs .box-container .box .content .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: #141414;
}

.blogs .box-container .box .content .title:hover {
    color: var(--main-color);
}

.blogs .box-container .box .content span {
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: rgb(37, 37, 37);
    padding: 1rem 0;
}

.footer {
    background: var(--black);
    text-align: center;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #141414;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background-color: var(--main-color);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: .7rem 2rem;
    color: #141414;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover {
    background: var(--main-color);
}

.footer .credit {
    font-size: 2rem;
    color: #141414;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span {
    color: var(--main-color);
}


/* media queries  */

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 1.5rem 2rem;
    }
    section {
        padding: 2rem;
    }
}

@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
    }
    .header .navbar {
        top: 100%;
        right: -100%;
        width: 30rem;
    }
    .header .navbar.active {
        right: 0;
    }
    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    .header .search-form {
        width: 90%;
        right: 2rem;
    }
    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3 {
        font-size: 4.5rem;
    }
    .home .content p {
        font-size: 1.5rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}

ul,
ol {
    list-style: none
}

.movies {
    width: 100%
}

.movies li {
    float: left;
    width: 286px;
    margin-right: 15px
}

.movies li.last {
    margin-right: 0
}

.movies li.clear {
    float: none;
    width: auto;
    margin: 0;
    font-size: 0;
    line-height: 0
}

.movies li img {
    position: relative
}

.movies li p {
    margin: 5px 0 15px 0;
    padding-right: 40px
}

.movies li p span {
    color: #fff
}

a {
    color: #ffffff;
    outline: none
}

a:hover {
    text-decoration: none
}

h2 {
    font-size: 30px;
    line-height: 1.2em;
    color: #1d1d1d;
    text-transform: uppercase;
    margin-bottom: 12px
}

h2 span {
    display: block;
    font-size: 40px;
    color: #ffffff
}

h3 {
    font-size: 30px;
    line-height: 1.2em;
    color: white;
    margin-bottom: 20px
}

h3 b {
    color: wheat;
    font-weight: normal
}

h3 span {
    color: #d72a18
}

h4 {
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: -1px;
    color: #2c6d9a;
    margin-bottom: 18px
}