



.main {
    width: 80%;
    display: flex;
    margin: auto;
}


.titre {
    color: #FF0042;
    font-size: 20px;
    
}

.btn-reponse {
    color: white;
    cursor: pointer;
    background-color: rgb(47, 25, 74);
    padding: 5px;
    border-radius: 5px;
}
.btn-reponse2 {
    color: white;
    float: right;
    cursor: pointer;
    background-color: rgb(47, 25, 74);
    padding: 5px;
    margin-right: 20%;
    margin-top: 10px;
    border-radius: 5px;
}
.hr {
    background-color: #FEFEFE;
    height: 1px;
    width: 80%;
    display: flex;
    margin: auto;
}

.autor {
    float: left;
    background-color: rgb(47, 25, 74);
    padding: 20px;
    border-radius: 32px 0;
    margin: 14px;
}

.commentaire {
    display: flow-root;
    margin: 10px;
}

.hr2 {
    background-color: #FEFEFE;
    height: 0.5px;
    width: 40%;
    display: flex;
    margin: auto;
}
.area {
    background-color: #3b0e3e69;
    border-radius: 15px 15px 0 39px;
    color: #FEFEFE;
}
.form {
    visibility: hidden;
}

.right {
    float: right;
}
