* {
    margin: 0;
    font-family: 'poppins', sans-serif;
    line-height: 1.333;
}
p {
    font-size: 15px;
}
html{
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
    background-color:rgb(0,0,0);
    color:#FEFEFE;
}

a{
    color:#FF0042;
    font-weight: bolder;
    text-decoration: none;
}


h1{
    font-size:16px;
    font-weight: bolder;
}

/* GENERAL CSS */

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.thin-text {
    font-weight: 300;
}

.modern-btn-valide {
    width: 90px;
    height: 35px;
    background-color: #7FD7A7;
    border-radius: 5px;
    color: white;
    margin-bottom: 21px;
    border: none;
    border: 1px solid;
    cursor: pointer;
    border-color: #00B050;
}

.modern-btn-valide {
    transition: all .2s ease-in-out;
}

.modern-btn-valide:hover {
    background-color: #48af76 !important;
}

.modern-btn-cancel {
    width: 90px;
    height: 35px;
    background-color: #F97979;
    border-radius: 5px;
    color: white;
    margin-bottom: 21px;
    border: none;
    border: 1px solid;
    cursor: pointer;
    border-color: #ff3e3e;
}

.modern-btn-cancel {
    transition: all .2s ease-in-out;
}

.modern-btn-cancel:hover {
    background-color: #da5959 !important;
}

.container {
    display: flex;
    margin: auto;
}

.ml-4 {
    margin-left: 50px;
}

.form-group {
    display: flex;
    margin: auto;
    height: 143px;
    width: 60%;
}
.main {
    width: 80%;
    display: flex;
    margin: auto;
}
.titre {
    color: #FF0042;
    font-size: 20px;
    
}




.btn-reponse {
    color: white;
    cursor: pointer;
    background-color: rgb(47, 25, 74);
    padding: 5px;
    border-radius: 5px;
}
.btn-reponse2 {
    color: white;
    float: right;
    cursor: pointer;
    background-color: rgb(47, 25, 74);
    padding: 5px;
    margin-right: 20%;
    margin-top: 10px;
    border-radius: 5px;
}
.hr {
    background-color: #FEFEFE;
    height: 1px;
    width: 80%;
    display: flex;
    margin: auto;
}

.autor {
    float: left;
    background-color: rgb(47, 25, 74);
    padding: 20px;
    border-radius: 32px 0;
    margin: 14px;
}

.commentaire {
    display: flow-root;
    margin: 10px;
}

.hr2 {
    background-color: #FEFEFE;
    height: 0.5px;
    width: 40%;
    display: flex;
    margin: auto;
}
.area {
    background-color: #3b0e3e69;
    border-radius: 15px 15px 0 39px;
    color: #FEFEFE;
}
.form {
    visibility: hidden;
}

.right {
    float: right;
}



/* home */



.subforum{
	margin-top: 20px;
}

.subforum-title{
	background-color: #292b2e;
	padding:5px;
	border-radius: 5px;
	margin: 4px;
	text-align: center;
}

.subforum-title-posts{
	background-color: #292b2e;
	padding:5px;
	border-radius: 5px;
	margin: 4px;
	text-align: center;
}

.subforum-description  *{
	margin-block:0px;
}	

.subforum-row{
	display: grid; 
	grid-template-columns: 7% 60% 13% 20%;

}
	
.subforum-column{
	padding: 10px;
	margin:4px;
	border-radius:5px;
	background-color:#111314;
}

.center{
	display: flex;
	justify-content: center; 
	align-items: center;
}
	
.subforum-icon{
	font-size:45px;
}

.subforum-devider{
	dsiplay: none;
}

/* barre de recherche */
.search-box{
	border:solid 1px #52057b;
	margin-top: 20px;
	padding: 40px; 
	display: flex;
	justify-content: center;
	box-shadow: 1px 2px 3px #52075b
}

.search-box select{
	padding: 10px;
}

.search-box input{ 
	padding: 10px;
}

.search-box button{
	padding: 10px;
	background-color: #fff;
	color: #000000;
}
	
.search-box button:hover {
	background-color: #000000;
	color: #fff;
	box-shadow: 1px 2px 3px #fff;
}

/*#############################*/
/*Postes.html*/

.table-head{
	display: flex;
}

.table-head div{
	padding: 5px;
	margin: 2px; 
	background-color: #833a3a;
	font-weight: bold; 
}

.table-head .statut{
	flex: 5%;
	
}

.table-head .sujets{
	flex: 70%;
}

.table-head .reponses{
	flex: 10%;
}

.table-head .Derniere-reponses{
	flex: 15%;
}

/*table body*/
.table-row{
	display: flex;
}

.table-row .statuts, .table-row .sujets, .table-row .reponses, .table-row .Derniere-reponses{
	padding: 5px;
	margin: 2px;
	background-color: #131415;
}

.table-row .statut{
	flex: 5%;
	font-size: 30px;
	text-align: center;
}






/* Pour les téléphone portable*/
@media screen and (max-width: 460px){
		.container{
			margin: 10px;
			padding: 10px;
		}
		
		.subforum-row{
			display: grid; 
			grid-template-columns: 25% 75%;
			grid-template-row: 65% 35%;
		}
		
		.subforum-stats{
			font-size:12px;
		}
		
		.subforum-devider{
			display: block; 
			border: 0; 
			height: 1px;
			background-image: linear-gradient(to right, rgba(190, 190, 190, 0), rgba(255, 255, 255, 0.75), rgba(190, 190, 190, 0));
		}
}

@media screen and (max-width: 460px){
	.search-box input, .search-box button, .search-box select{
		min-width : 300px;
		margin-top: 5px;
	}
}

/*Forum info*/

.forum-info{	
	padding: 0px;
	background-color: #111314
}

.chart{
	font-size :20px;
	font-weight: bold;
}





/* Pour les tablettes */
@media screen and (min-width: 460px) and (max-width: 1024px){
	.container{	
		margin: 10px;
		padding: 15px;
	}
	
	.subforum-row{
		display: grid; 
		grid-template-columns: 10% 60% 10% 20%;
	}
	
	.subforum-icon i{
		font-size:35px;
	}
	
	html{ 
		font-size: 16px;
	}

	h1{
		font-size:18px;
	}
}

.narutopng {
    width: 20px;
}


table {
    border: medium solid #000000;
    width: 50%;
    margin: auto;
    }
    td, th {
    border: thin solid #6495ed;
    width: 50%;
    }


.btn-danger {
    font-size: 20px;
    margin: auto;
    display: block;
    cursor: pointer;
    background-color: #aca91f;
    color: #111314;
    border-radius: 10px;
    padding: 15px;
}