* {
    margin: 0;
    font-family: 'poppins', sans-serif;
    line-height: 1.333;
}


/* GENERAL CSS */

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.thin-text {
    font-weight: 300;
}

.modern-btn-valide {
    width: 90px;
    height: 35px;
    background-color: #7FD7A7;
    border-radius: 5px;
    color: white;
    margin-bottom: 21px;
    border: none;
    border: 1px solid;
    cursor: pointer;
    border-color: #00B050;
}

.modern-btn-valide {
    transition: all .2s ease-in-out;
}

.modern-btn-valide:hover {
    background-color: #48af76 !important;
}

.modern-btn-cancel {
    width: 90px;
    height: 35px;
    background-color: #F97979;
    border-radius: 5px;
    color: white;
    margin-bottom: 21px;
    border: none;
    border: 1px solid;
    cursor: pointer;
    border-color: #ff3e3e;
}

.modern-btn-cancel {
    transition: all .2s ease-in-out;
}

.modern-btn-cancel:hover {
    background-color: #da5959 !important;
}